<h3>テンプレート一覧 templates/index.html.erb templates_path</h3>
<h1>作成したテンプレートが見れる</h1>

<div class="templates-container">
    <% @templates.each do |t| %>
        <div class="template">
            <%= t.name %>
            <%= t.template_id %>
            <%= image_tag t.image_url, size: "100x100" if t.image? %>
            <%= link_to "編集する", edit_template_path(t.id) %>
            <%= button_to "削除する", template_path(t.id), method: :delete %>
        </div>
    <% end %>
</div>

<%= link_to '新規作成',new_template_path %>