<h3>テンプレート投稿 templatess/show.html.erb new_template_path</h3>
<h1>ここでテンプレートを記録する</h1>

<%= form_for @template do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, :size => 140 %><br>
        <%= f.label :種類 %>
        <%= f.select :template_id, 
            [["hair", "hair"], 
            ["tops", "tops"], 
            ["bottoms", "bottoms"],
            ["shoes", "shoes"],
            ["acce", "acce"]], include_blank: "選択して下さい" %><br>
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <%= f.submit "作成する" %>
<% end %>