<h3>プロフィール users/show.html.erb user_path</h3>

<p>名前 : <%= @user.name %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.admin? %>
        <%= link_to "管理者権限", users_path(@user.id) %>
<% end %>

<% if current_user.id == @user.id %>
    <p>メールアドレス : <%= @user.email %></p>
    <%= link_to "編集", edit_user_registration_path %>
<% end %>

<h3>ユーザーの投稿一覧</h3>
<% @user.maomaos.each do |t| %>
        <%= t.userid %>
        <%= t.postid %>
        <%= t.itemid1 %>
        <%= t.color1 %>
        <%= t.itemid2 %>
        <%= t.color2 %>
        <%= t.itemid3 %>
        <%= t.color3 %>
        <%= t.itemid4 %>
        <%= t.color4 %>
        <%= t.itemid5 %>
        <%= t.color5 %>
        <%= t.created_at %>
        <%= link_to "詳細", maomao_path(t.id) %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h3>ユーザーがいいねした投稿一覧</h3>
        <% @user.liked_maomaos.each do |t| %>
        <%= t.userid %>
        <%= t.postid %>
        <%= t.itemid1 %>
        <%= t.color1 %>
        <%= t.itemid2 %>
        <%= t.color2 %>
        <%= t.itemid3 %>
        <%= t.color3 %>
        <%= t.itemid4 %>
        <%= t.color4 %>
        <%= t.itemid5 %>
        <%= t.color5 %>
        <%= link_to "詳細", maomao_path(t.id) %>
<% end %>
<!-- ここまで-->