<h3>詳細ページ show.html.erb</h3>

<div class="maomao">
    <%= @maomao.user.email %>
    <%= @maomao.userid %>
    <%= @maomao.postid %>
    <%= @maomao.itemid1 %>
    <%= @maomao.color1 %>
    <%= @maomao.itemid2 %>
    <%= @maomao.color2 %>
    <%= @maomao.itemid3 %>
    <%= @maomao.color3 %>
    <%= @maomao.itemid4 %>
    <%= @maomao.color4 %>
    <%= @maomao.itemid5 %>
    <%= @maomao.color5 %>
        
    <% if user_signed_in? %>
        <% if current_user.already_liked?(@maomao) %>
            <%= button_to maomao_like_path(@maomao), method: :delete do %>
                <i class="fas fa-heart fa-2x" style="color:red;"></i><%= @maomao.likes.count %>
            <% end %>
        <% else %>
            <%= button_to maomao_likes_path(@maomao), method: :post do %>
                <i class="fas fa-heart fa-2x" style="color:red;"></i><%= @maomao.likes.count %>
            <% end %>
        <% end %>

    <% else %>
        <i class="fas fa-heart fa-2x" style="color:red;"></i><%= @maomao.likes.count %>
    <% end %>
</div>