<!DOCTYPE html>
<html>
  <head>
    <title>Kusuriya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= いいねアイコンの実装 %>
    <script src="https://kit.fontawesome.com/7e8da480b8.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <div class="header-name">
      <ul>
          <li><%= image_tag "logo.PNG" ,class:"header_logo"%></li>
          <li><p><%= link_to '服選び', root_path %></p></li>
          <% if user_signed_in? %>
              <li><h5>ログイン中のユーザー<%= current_user.name %></h5></li>
          <% end %>
    </div>
    <div class="header-list">
      <ul>
          <li><%= link_to '一覧', maomaos_path %></li>
          <li><%= link_to '新規作成', new_maomao_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "マイページへ", user_path(current_user.id) %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
